<h1> Day Hours </h1>

<table id='dayHours' class='display'>

  <thead>
    <tr>
      <th class='firstColumn oddHeaderColumn' rowspan='2'>
        Venue
      </th>
      <% @days.each_with_index do |day, i| %>
        <% day_class = (i%2).zero? ? 'evenHeaderColumn' : 'oddHeaderColumn' %>
        <th class='<%= day_class %>' colspan='<%= @times.count %>'>
          <%= day %>
        </th>
      <% end %>
    </tr>
    <tr>
      <% @days.each_with_index do |day, i| %>
        <% day_class = (i%2).zero? ? 'evenHeaderColumn' : 'oddHeaderColumn' %>
        <% @times.each do |time| %>
          <th class='<%= day_class %>'>
            <%= time %>
          </th>
        <% end %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td class='firstColumn'>
          <%= venue.name %>
        </td>

        <% @days.each do |day| %>
          <% @times.each do |time| %>
            <td>
              <% if available? venue, day, time %>
                <span class='yes'> &#x2714 </span>
              <% else %>
                <span class='no' > &#x2718 </span>
              <% end %>
            </td>
          <% end %>
        <% end %>

      </tr>
    <% end %>
  </tbody>

</table>
